<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteleen</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="toolbar">
        <div class="title">Canteleen</div>
        <div class="auth-buttons">
          <button class="auth-btn" onclick="window.location.href='/login'">Login</button>
          <button class="auth-btn" onclick="window.location.href='/signup'">Sign up</button>
      </div>      
    </header>

    <main class="main-content">
        <div class="button-row">
            <button class="main-btn">Menu</button>
            <button class="main-btn">Map</button>
        </div>
        <div class="button-row">
            <button class="main-btn">Starters</button>
            <button class="main-btn">Meat</button>
            <button class="main-btn">Vegetarian</button>
            <button class="main-btn">Fish</button>
            <button class="main-btn">Desert</button>
        </div>
    </main>

    <script src="../public/js/main.js"></script>
</body>
</html>