<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteleen</title>
    <link rel="stylesheet" href="/css/index_bis.css">
</head>
<body>
    <header class="toolbar">
        <div class="title">Canteleen</div>
        <div class="auth-buttons">
          <button class="auth-btn" onclick="window.location.href='/login'">Login</button>
          <button class="auth-btn" onclick="window.location.href='/signup'">Sign up</button>
      </div>      
    </header>

    <main class="main-content">
        <div class="carousel-entry-screen">
            <button class="arrow left">&#10094;</button>
            <div class="carousel-images">
                <iframe src="menu.html" frameborder="0" class="slider-item"></iframe>
                <iframe src="map.html" frameborder="0" class="slider-item"></iframe>  
            </div>
            <button class="arrow right">&#10095;</button>
        </div>
        
        <div class="carousel-stand-screen">
            <button class="arrow left">&#10094;</button>
            <div class="carousel-images">
                <iframe src="infoScreen.html" frameborder="0" class="slider-item"></iframe>
            </div>
            <button class="arrow right">&#10095;</button>
        </div>
    </main>

    <script src="/js/index_bis.js"></script>
</body>
</html>






