<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Canteleen</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/index.css" />

</head>
<body>
  <header class="toolbar">
    <div class="title">
        <img src="/images/canteleen-logo.png" alt="Canteleen Logo" class="logo" />
    </div>
    <div class="auth-buttons">
      <button class="auth-btn" onclick="window.location.href='/login'">Login</button>
      <button class="auth-btn" onclick="window.location.href='/signup'">Sign up</button>
    </div>
  </header>

  <main>
    <!-- Section 1: Daily Menu -->
    <section class="carousel-section carousel-entry-screen">
      <button class="arrow left">&#9664;</button>
      <div class="carousel">
        <!---Menu screen-->
        <div class="slider-item active">
            <div class="simulated-menu-screen">
              <h2 class="section-title">Menu of the Day</h2>

            </div>
        </div> 

        <!---Map screen-->
        <div class="slider-item">
            <div class="simulated-map-screen">
              <h2 class="section-title">Map of the Cantine</h2>
                <img src="/images/map.svg" alt="Map" class="map">
        
                <ol class="category-list">
                    <li>Starters</li>
                    <li>Meat</li>
                    <li>Vegetarian</li>
                    <li>Fish</li>
                    <li>Dessert</li>
                </ol>
            </div>
        </div>

      </div>
      <button class="arrow right">&#9654;</button>
    </section>

    <!-- Section 2: Info Screens -->
    <section class="carousel-section carousel-stand-screen">
      <button class="arrow left">&#9664;</button> <!-- Moved out -->
      
      <div class="carousel-inner-wrapper">
        <h2 class="section-title inside-carousel-title">At each stand</h2>
        <div class="carousel" id="Screens"></div>
      </div>
    
      <button class="arrow right">&#9654;</button> <!-- Moved out -->
    </section>

  </main>

  <script src="js/index.js"></script>

</body>
</html>









