<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/map.css">
</head>
<body>
    <div class="map-container" id="mapContainer">
        <div class="header">
            <img src="/images/map.svg" alt="Map" class="map">
        </div>

        <ol class="category-list">
            <li>Starters</li>
            <li>Meat</li>
            <li>Vegetarian</li>
            <li>Fish</li>
            <li>Dessert</li>
        </ol>
    </div>
</body>
</html>



