<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Canteleen</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/test2.css" />

</head>
<body>

  <main>
    <!-- Section 1: Daily Menu -->
      <div class="carousel">
        <!---Menu screen-->
        <div class="slider-item active">
            <div class="simulated-menu-screen">
              
              <div class="menu-row">

                <div  class="menu-info">
                  <span class="meal-type"> MEAT </span>
                  <div class="meal-info">
                    <span class="meal-name"> - Pasta 🐄 🍄 🧂</span>
                    <!-- <span class="incona"></span> -->
                    <span class="meal-price">€8.50</span>
                  </div>
                  <div class="meal-info">
                    <span class="meal-name">- Spaghetti 🐄 🍄 🧂</span>
                    <!-- <span></span> -->
                    <span class="meal-price">€8.50</span>
                  </div>
                </div>

                <img src="/images/menu-meat.jpg" alt="Spaghetti" class="meal-image">
                
              </div>

              <div class="menu-row">

                <div  class="menu-info">
                  <span class="meal-type"> MEAT </span>
                  <div class="meal-info">
                    <span class="meal-name">- Super longolonglong </span>
                    <span class="incona">🐄 🍄 🧂</span>
                    <span class="meal-price">€8.50</span>
                  </div>
                  <div class="meal-info">
                    <span class="meal-name">- Spaghetti </span>
                    <span>🐄 🍄 🧂</span>
                    <span class="meal-price">€8.50</span>
                  </div>
                </div>

                <img src="/images/menu-meat.jpg" alt="Spaghetti" class="meal-image">
                
              </div>

              <div class="menu-row">

                <div  class="menu-info">
                  <span class="meal-type"> MEAT </span>
                  <div class="meal-info">
                    <span class="meal-name">- Spaghetti </span>
                    <span class="incona">🐄 🍄 🧂</span>
                    <span class="meal-price">€8.50</span>
                  </div>
                  <div class="meal-info">
                    <span class="meal-name">- Spaghetti </span>
                    <span>🐄 🍄 🧂</span>
                    <span class="meal-price">€8.50</span>
                  </div>
                </div>

                <img src="/images/menu-meat.jpg" alt="Spaghetti" class="meal-image">
                
              </div>

            </div>
        </div> 
    
  </main>

</body>
</html>









