body {
    font-family: 'Courier New', Courier, monospace;
    background: white;
    padding: 20px;
}

h2 {
    text-align: center;
}

.meal-row {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.meal-info {
    display: flex;
    flex-direction: column;
}

.name-price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.name-allergens-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.meal-name {
    font-weight: bold;
    font-size: 18px;
}

.meal-allergens {
    margin-left: 10px;
}

.meal-price {
    font-size: 20px;
    font-weight: bold;
}

.meal-ingredients {
    margin-top: 10px;
}

.meal-nutrients {
    margin-top: 10px;
}

.nutrient-icons {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.nutrient-icon {
    text-align: center;
}

.nutrient-icon img {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}

strong {
    font-weight: bold;
}

.nutrients-table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 50%;
}

.nutrients-table td {
    padding: 8px;
    text-align: center;  /* Centrer le texte à l'intérieur des cellules */
    width: 33.33%;  
}

.nutrients-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nutrients-row .nutrients-table {
    margin-left: auto;  /* Pousse le tableau vers la droite */
}
